<!DOCTYPE html>
<html>
<head>
    <title>Assignment 5</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <form action="{{url_for('index')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <label for="words">Enter a word to search the books</label>
        <input type="text" id="words" name="words">
        <label for="filename">Enter the filename to save </label>
        <input type="text" id="filename" name="filename">
        <a href="/"><input type="submit" value="Find"></a>

        <p>
            The name of the textfile is
        </p><br>
        <p>
            {{ textfile }}
        </p><br><br>
        <p>
            The number of words in a textfile is
        </p><br>
        <p>
            {{ number }}
        </p>
    </form>

    <form action="{{url_for('search_occurances')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <label for="word">Enter a word to find the occurances</label>
        <input type="text" id="word" name="word">
        <a href="/searchoccurances"><input type="submit" value="Find"></a>
        <p>
            The number of occurance of the entered word is
        </p><br>
        <p>
            {{ occu }}
        </p>
    </form>
</div>
</body>
</html>